main{
    width: 90vw;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    background-color: var(--background-green);
    border-radius: 1rem ;
    padding: 1rem;
}
.main-header ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    list-style: none;
    gap: 1rem;
    border-color:   var(--border-lightGreen);
    border-width: 0 0 2px ;
    border-style: solid;
}
.main-header ul li {
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: var(--font-lightGreen);
}
ul li a {
    color: inherit;
    text-decoration: none ;
}
.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}
.main-content .main-section-books{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 10rem;
    max-width: 100%;
    padding:1rem;
    gap: 1rem;
    background-color: var(--Space-3-hex);
    border-radius: 1rem;

}

.main-section-books .book-information {
    width: 100%;
    align-items: center;
}

.main-section-books .book-information .book-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0.5rem;

}

.main-section-books img {
    color:white;
    background-color:#038C65;
    padding:0.1rem;
    justify-self: start;
    border-radius: 0.3rem;

}
.book-header .book-title {
    color: var(--Space-4-hex);
}
.book-header .book-genre {
    color: var(--font-lightGreen);
    margin-left: 0.3rem;
}
.book-information .book-description {
    color: var(--font-white);
    text-align: center;
    width: 100%;
    max-height: 4rem;
    overflow-y: auto;
}


@media screen and (max-width: 460px) {
    .main-header ul li:last-child {
        display: none;
    }

    .main-content .main-section-books {
        width: auto;
    }
    .book-title, .book-genre{
        font-size: 1rem;
    }
    .book-description{
        overflow: hidden;
    
    }
}
