<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head",{title:'Login'})  %>
    <link rel="stylesheet" href="../public/styles/login.css">
</head>
<body>
    <img class="wallpaper" src="../public/imgs/books.jpg" alt="Wallpaper de espaço e planetas">
    <div class="modal">
        <form action="#" method="post" class="modal-content">
            <section>
                <label for="UserName">Digite seu nome:</label>
            <input type="text" id="UserName" name="UserName">
            </section>
           <section>
            <label for="UserPassword">Digite sua senha:</label>
            <input type="text" name="UserPassword" id="UserPassword">
           </section>
           <section class="modal-section-buttons">
                <a href="/" style="color:inherit;text-decoration:none;" class="cancel-btn">
               Cancelar
            </a>
            <button class="enter-btn">
                Entrar
            </button>
           </section>
           <p>Se ainda não tiver uma conta, <a href="/login/create">clique aqui</a> </p>
        </form>
    </div>
</body>
</html>